
          <div class="row">
              <div class="col-sm-8">
                    <a href="/"><h3> Order Form </h3>    </a>
              </div>
              <div class="col-sm-4">
                  <!-- <app-cart></app-cart> -->
                    <button type="button" class="btn btn-secondary"><a routerLink="/cart">cart</a></button> 
                    <button type="button" class="btn btn-secondary">checkout</button>       
              </div>
          </div>

    <div class="row">
        <ul class="nav nav-tabs">  
            <!-- will use routerLink rather href, instead of reloading,   -->
            <!-- routerLinkActiveOptions -- will direct exact link rather all 'empty' path -->
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/breakfast">Breakfast</a></li>
            <li role="presentation"routerLinkActive="active" ><a routerLink="/lunch">Lunch</a></li>
            <!-- routerLink also can use property binding -->
            <li role="presentation" routerLinkActive="active" ><a [routerLink]="['/dinner']">Dinner</a></li>
        </ul>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>


    