
          <div class="row">
              <div class="col-sm-8">
                    <a href="/"><h3> Order Form </h3>    </a>

              </div>
              <div class="col-sm-4">
                    <button type="button" class="btn btn-primary">Cart</button> 
                    <button type="button" class="btn btn-secondary">Secondary</button>       
                    <button type="button" class="btn btn-secondary">Secondary</button>
              </div>
              <!-- <background="https://images.unsplash.com/photo-1515304425474-11f80e15e204?ixlib=rb-0.3.5&s=66c4dbcc3c79753f4753b4323ec41001&auto=format&fit=crop&w=2550&q=80"> -->
              <!-- Try to make button float to the right -->
              <!-- TODO: also the btn class is not applied -->
              <!-- <div class="float-right">
                      <button type="button" class="btn btn-primary">Cart</button> 
                      <button type="button" class="btn btn-secondary">Secondary</button>       
              </div> -->
          </div>

    <div class="row">
        <ul class="nav nav-tabs">  
            <!-- will use routerLink rather href, instead of reloading,   -->
            <!-- routerLinkActiveOptions -- will direct exact link rather all 'empty' path -->
            <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/breakfast">Breakfast</a></li>
            <li role="presentation"routerLinkActive="active" ><a routerLink="/lunch">Lunch</a></li>
            <!-- routerLink also can use property binding -->
            <li role="presentation" routerLinkActive="active" ><a [routerLink]="['/dinner']">Dinner</a></li>
        </ul>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>


    